.outter-card {
  background-color: rgb(250, 250, 250);
  margin-bottom: 1rem;
  padding: 12px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.selection_row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.row_submodules {
  margin-bottom: 1rem;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}