.root_div {
    display: flex;
    align-items: center;
    gap: 5px;
}

code {
    display: block;
}

.flex_one {
    flex: 1;
}

.badge {
    font-size: small;
    padding: 2px 8px;
    border: 1px solid lightgray;
    border-radius: 20px;
}